<div layout="row">
    <div flex class="first-box box">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <h1>"Bond. James Bond."</h1>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <form>
                    <div>
                        <md-input-container>
                            <label>Create a New Bond</label>
                            <input ng-model="vm.newActor.name">
                        </md-input-container>
                        <md-button ng-click="vm.addActor(vm.newActor)" type="submit">Submit</md-button>
                    </div>
                </form>
            </md-card-content>
        </md-card>
    </div>
    <div flex class="second-box box">
        <img src="/images/shanghai.jpg" width="500">
    </div>
</div>

<div flex class="first-box box">
    <table>
        <thead>
            <tr>
                <th>Bond</th>
                <th>Total Movies</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="actor in vm.actors.data">
                <td>
                    <input ng-model="actor.name">
                </td>
                <td>
                    <input ng-model="actor.count">
                </td>
                <td>
                    <md-button class="md-primary md-raised" ng-click="vm.retireActor(actor)">Retire This Bond</md-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>