Good morning, 007.

<h1>Movies</h1>

<form ng-submit="vm.createMovie(vm.newMovie)">
    <label>
        Create a New Bond Movie:
        <input placeholder="Movie Title" ng-model="vm.newMovie.name" />
    </label>
    <select ng-model="vm.newMovie.actor">
        <option value="" disabled selected>Select Your Bond</option>
        <option value="Daniel Craig">Daniel Craig</option>
        <option value="Pierce Brosnan">Pierce Brosnan</option>
        <option value="Timothy Dalton">Timothy Dalton</option>
        <option value="Roger Moore">Roger Moore</option>
        <option value="George Lazenby">George Lazenby</option>
        <option value="Sean Connery">Sean Connery</option>
        <option value="Idris Elba">Idris Elba</option>
        <option value="Charlize Theron">Charlize Theron</option>
        <option value="Tom Hiddleston">Tom Hiddleston</option>
        <option value="Chadwick Boseman">Chadwick Boseman</option>
        <option value="Emily Blunt">Emily Blunt</option>
        <option value="Cillain Murphy">Cillian Murphy</option>
        <option value="Luke">Luke</option>
    </select>
    <input placeholder="Release Year" ng-model="vm.newMovie.date" />
    <input placeholder="Run-Time" ng-model="vm.newMovie.runtime" />
    <select ng-model="vm.newMovie.image_path">
        <option value="" disabled selected>Add a Poster/Picture?</option>
        <option value="ally.jpeg">Ally</option>
        <option value="chadwick.png">Chadwick</option>
        <option value="charlize.jpg">Charlize</option>
        <option value="cillian.jpg">Cillian</option>
        <option value="emily.jpg">Emily</option>
        <option value="idris.jpg">Idris</option>
        <option value="kris.jpeg">Kris</option>
        <option value="luke.jpeg">Luke</option>
        <option value="tom.jpg">Tom</option>
    </select>
    <input type="submit" value="Create Movie" />
</form>

<div>
    <div class="card-group">
        <div ng-repeat="movie in vm.movies.data">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" ng-src="images/{{movie.image_path}}" alt="no picture available">
                <div class="card-body">
                    <h5 class="card-title">{{movie.name}}({{movie.date}})</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{movie.actor}}</h6>
                    <p class="card-text">Run Time: {{movie.runtime}} min.</p>
                    <a class="btn btn-primary" ng-click="vm.deleteMovie(movie)">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>