<div ng-cloak>
    <md-content class="md-padding">
        <md-nav-bar md-no-ink-bar="disableInkBar" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-href="#!/" name="Home">Home</md-nav-item>
            <md-nav-item md-nav-href="#!/movie" name="Movies">Movies</md-nav-item>
            <md-nav-item md-nav-href="#!/actor" name="Bonds">Bonds</md-nav-item>
            <md-nav-item md-nav-href="#!/favs" name="Favorites">Favorites</md-nav-item>
            <md-nav-item md-nav-href="http://www.007.com/" target="_blank" name="007">
                <img src="/images/007_logo.png" height="25">
            </md-nav-item>
        </md-nav-bar>
    </md-content>
</div>